.navbar{
  border-radius: 0px;
  background-color: #EF2758;
  .navbar-brand {
    color: white;
    font-size: 24px;
  }
}

.search {
  .mat-form-field {
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
    display: block;
  }
}

form {
  max-width: 25rem;
  margin: 1rem auto;
}

.well span {
  margin-bottom: 2%;
}

// Masonry container 
.masonry {
  column-count: 4;
  column-gap: 2rem;
}

.item {
  display: inline-block;
  background: #fff;
  margin: 0 0 1.5rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}

.photo-title {
    font-style: italic;
    margin: 3%;
    font-size: 18px;
    color: black;
}

img,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

// Mobile Styles
@media only screen and (min-width: 320px) {
  .masonry {
    column-count: 2;
  }
}

@media only screen and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

