<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Masonry</a>
    </div>
  </div>
</nav>

<div class="container" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" (scrolled)="onScroll()">

  <div class="search">
    <mat-form-field>
      <input matInput placeholder="Flickr Image Search" type="search" [formControl]="searchControl">
    </mat-form-field>
  </div>

  <div class="masonry">
    <div class="item" *ngFor="let photo of photos">

      <a href="{{photo.url}}">
        <img src="{{photo.url}}">
      </a>

      <div class="well" style="margin-bottom:0px;">
        <span *ngIf="photo.title !== ''"><b>Title:</b><i> {{photo.title}} </i><br /></span>
        <span *ngIf="photo.title == ''"><b>Title:</b><i> User has not entered </i><br /></span>
        <span><b>Owner:</b></span><i> {{photo.owner}} </i><br />
        <span><b>Date Taken: </b></span><i>{{photo.dateTaken}} </i><br />
        <span><b>Tags : </b></span><i>{{photo.tags}}</i>
      </div>

    </div>

  </div>
